<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeshLoading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6894766E182F19AB00CC48FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6894768F182F19AB00CC48FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68983ADE1833327D009D2B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
